body {
  font-family: "Roboto";
  margin: 0px;
  background: #fff;
}
.container {
  width: 1161px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #fff;
}
h2 {
  margin: 0;
}
h3 {
  color: #000000;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.li {
  list-style-type: none;
}
.header {
  background: #eeeeee;
  min-width: 100%;
}

.header-wrapper a {
  display: inline-block;
}
.header-wrapper {
  padding-top: 50px;
}
.header-wrapper a:hover {
  opacity: 0.8;
}
.header-wrapper a:active {
  opacity: 0.3;
}

.header-wrapper__navigation {
  float: right;
}
.header-wrapper__navigation li {
  display: inline-flex;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 30px;
}
.header-wrapper__navigation a {
  display: block;
  color: #000000;
  position: relative;
  border-bottom: 1px transparent;
}
.header-wrapper__navigation a:active {
  color: #000000;
  opacity: 0.3;
}
.header-wrapper__navigation a:hover {
  color: #ff0000;
}
.header-wrapper__navigation .active a {
  position: relative;
}
.header-wrapper__navigation .active a:hover {
  background: none;
}
.header-wrapper__navigation a:focus {
  border-bottom: 1px solid #ff0000;
  display: flex;
  margin: 0;
}

.header-navigation__icon {
  float: right;
  text-align: left;
  padding: 0px;
  margin-left: 260px;
}

.basket {
  text-align: right;
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: #000000;
}

.basket:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -40;
  width: 15px;
  height: 15px;
  background-color: #a6a6a6;
  background: url("img/cart-icon.png");
  background-position: 0 -210px;
  opacity: 1;
}
.slider {
  display: inline-flex;
}
.slider__text {
  width: 376px;
}
.slider__text h1 {
  font-size: 55px;
  line-height: 55px;
}
.slider__text p {
  margin-bottom: 42px;
}

.main-button:hover {
  background-color: #e74246;
}
.main-button:active {
  opacity: 0.3;
}
.main-button {
  padding: 19 55 18 53;
  background-color: #fb565a;
  line-height: 18px;
  display: inline-flex;
}

.illustrator {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: 1px solid #eeecec;
}
.illustrator li {
  list-style: none;
  width: 300px;
  margin-top: 80px;
}
.illustrator-image {
  align-items: center;
  display: flex;
  padding: 19 55 18 53;
}

.is-application {
  background-color: #00ca74;
}
.is-application:hover {
  background-color: #02b366;
}
.is-presentation {
  background-color: #efc84a;
}
.is-presentation:hover {
  background-color: #e0bc44;
}
.illustrator a {
  display: inline-flex;
  color: #ffffff;
  margin-top: 35px;
}

.details-services {
  display: flex;
  flex-direction: row;
  padding-bottom: 60px;
  border-bottom: 1px solid #eeecec;
}
.nerds-illustration h1 {
  font-size: 45px;
}

.table,
.table ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.nerds-illustration li {
  margin-top: 30px;
}
.nerds-illustration li:before {
  content: "\2015";
  color: red;
  padding-left: 5px;
  padding-right: 13px;
}

.container .nerds-illustration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nerds-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nerds-results ul {
  display: flex;
  justify-content: space-between;
}

.logo-png {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #eeecec;
}

.logo-partners {
  opacity: 0.2;
  margin: 0;
}

.logo-partners:hover {
  opacity: 1;
}

.logo-partners:active {
  opacity: 0.1;
}
.cell1 {
  border-right: thick solid #e1e1e1;
  width: 206px;
  border-width: 2px;
  padding-left: 45px;
  padding-right: 44px;
  height: 52px;
}
.footer__map {
  min-width: 100%;
}
.map-pic {
  min-width: 100%;
}
.footer-map__address {
  padding: 30px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 308px;
  background-color: #fff;
  margin-top: -364px;
}
.footer {
  position: relative;
  display: flex;
  padding-top: 60px;
}
.footer-map__location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.map-marker {
  position: absolute;
  margin-top: -330px;
  margin-left: 820px;
}

.details__button {
  display: flex;
  flex-direction: column-reverse;
}
.contact-address {
  display: flex;
  flex-direction: column;
}
.map__address h4 {
  font-size: 18px;
}
.map__address p {
  color: #666666;
  font-size: 16px;
}
.media {
  display: inline-block;
}
.small-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  margin-right: 170px;
  display: flex;
  flex-direction: column;
}
.footer-text h4 {
  margin: 0;
  font-size: 36px;
}
.footer-text p {
  color: #444444;
  font-size: 16px;
}
.media a {
  display: inline-block;
  width: 79px;
  height: 79px;
}
.shape1 {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background: #e1e1e1;
  width: 79px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape1:hover {
  background: #e74246;
}
.vk:active {
  opacity: 0.1;
}
.fb:active {
  opacity: 0.1;
}
.insta:active {
  opacity: 0.1;
}
.network {
  position: absolute;
}
.vk {
  margin: 0;
}

.store {
  text-align: center;
  padding: 40px;
}
.store h1 {
  font-size: 55px;
  line-height: 55px;
}

.catalog body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  color: #000;
}
.range-filter {
  position: relative;
  width: 240px;
  margin-left: -139px auto;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 152px;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 152px;
}
.price-controls label {
  display: inline-block;
}
.min-price {
  margin-left: -20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 33px;
}
.max-price {
  display: inline-block;
  vertical-align: top;
}
input {
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border: none;
}
.price-controls {
  width: 259px;
  height: 38px;
  margin-top: 53px;
}
.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  width: 80px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.catalog {
  float: right;
}
.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2098px;
}

.choice-controls__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 220;
}

.catalog__titles a {
  opacity: 0.3;
  color: #000000;
}
.catalog__titles a:hover {
  opacity: 0.6;
}
.catalog__titles a:active {
  opacity: 1;
}
.catalog__titles img {
  margin-left: 35px;
  margin-right: -20;
  opacity: 0.2;
}
.catalog__titles img:hover {
  opacity: 0.6;
}
.catalog__titles img:active {
  opacity: 1;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
}
.catalog__sort li {
  list-style-type: none;
}
.catalog-sort__filter {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.catalog-sort__filter ul {
  display: flex;

  width: 360px;
  justify-content: space-between;
}

.catalog__box .catalog-box__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog__stores {
  width: 804px;
}
.empty {
  height: 615px;
  display: flex;
  align-items: flex-end;
  position: absolute;
}
.catalog__box {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 33px;
}
.catalog-box__image {
  display: inline-flex;
  overflow: hidden;
}
.catalog__box img {
  margin-top: 40px;
}
.catalog__box .catalog-box__actions .panel {
  position: absolute;
  opacity: 3;
  margin: 0;
}

.catalog__box .catalog-box__actions .details {
  display: none;
  height: 227px;
}

.catalog__box:hover .catalog-box__actions .panel {
  opacity: 0.12;
  margin: 0;
}
.details__front {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__box:hover .catalog-box__actions .details {
  display: flex;
  position: absolute;
  box-shadow: #000000;
  padding: 30px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.catalog__box:hover {
  box-shadow: 1px 6px 14px 0px #d5d5d5;
}
.catalog-box__actions .details {
  background: url(img/white_back_copy_2.png) no-repeat bottom;
  width: 360px;
  height: 231px;
}

.catalog-box__actions .price {
  background-color: #fb565a;
  padding: 18 60;
  text-decoration: none;
  color: #ffffff;
}
.price:hover {
  background-color: #e74246;
}
.price:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 790px;
  overflow: hidden;
}
.choice li {
  list-style-type: none;
}
.choice__grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.choice__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice-grid__list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 125px;
}
.choice-features__list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 195px;
}

.choice li a:before {
  content: "";

  position: absolute;
  margin-left: -35px;
  width: 23px;
  height: 23px;
  background: url(img/checkbox-off.png) no-repeat;
  opacity: 0.4;
}
.choice li {
  opacity: 0.5;
}
.choice ul {
  padding-left: 35px;
}
.choice .show {
  display: block;
  width: 83px;
  height: 13px;
  color: #000000;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding: 19 88 18 89;
  background-color: #eeeeee;
  text-decoration: none;
  margin-top: 50px;
}

.choice .show:hover {
  width: 83px;
  height: 13px;
  background-color: #dfdfdf;
}
.choice .show:active {
  width: 260px;
  height: 50px;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  width: 83px;
  height: 13px;

  color: #000000;

  font-size: 16px;
}

.catalog-page__number {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  padding: 16 18;
  margin-right: 9px;
  color: #000000;
}
.catalog-page__next {
  width: 103px;
  height: 15px;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  padding: 19 79;
  width: 260px;
  height: 50px;
  background-color: #eeeeee;
}
.catalog-page__number:hover {
  background-color: #dfdfdf;
}

.catalog-page {
  width: 600px;
}

.catalog-page__number:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
.catalog-page__next:hover {
  background-color: #dfdfdf;
}
.catalog-page__next:active {
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}
.catalog-page__number:focus {
  background-color: #fff;
}
.radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__text {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  opacity: 0.5;
}
.radio__text:hover {
  opacity: 1;
}

.radio__text:before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  background: #fff;
}

.radio__text:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgb(0, 0, 0);

  opacity: 0;
  transition: 0.2s;
}
.radio input:checked + .radio__text:after {
  opacity: 1;
}
input[type="checkbox"] {
  display: none;
}

.pseudocheckbox::before {
  content: "\00A0";
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  margin-right: 6px;
  vertical-align: baseline;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #000000;
}
.pseudocheckbox {
  opacity: 0.5;
}
.pseudocheckbox:hover {
  opacity: 1;
}

input[type="checkbox"]:checked + .pseudocheckbox::before {
  content: "\2713";
}
